# Ranking de Salarios
Ranking de Salários utilizando a biblioteca Pandas com dados extraidos do site:
https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors"

In [1]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

In [4]:
table_from_html = pd.read_html("https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors")
df = table_from_html[0].copy()
df.columns = ["Rank", "Major", "Type", "EarlyCareerPay", "MidCareerPay", "HighMeaning"]

In [26]:
df.nlargest(10, ['MidCareerPay'])

,Major,EarlyCareerPay,MidCareerPay
0,Petroleum Engineering,93200,187300
1,Operations Research & Industrial Engineering,84800,170400
2,Electrical Engineering & Computer Science (EECS),108500,159300
3,Interaction Design,68300,155800
4,Public Accounting,59800,147700
5,Operations Research,83500,147400
6,Applied Economics and Management,66100,146400
7,Business Computing (BC),73000,143600
8,Actuarial Mathematics,64300,143400
9,Electrical Power Engineering,76100,142600

In [12]:
# Add tables from other pages to main dataframe
for page_no in range(2, 35):
    table_from_html = pd.read_html(f"https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/{page_no}")
    page_df = table_from_html[0].copy()
    page_df.columns = ["Rank", "Major", "Type", "EarlyCareerPay", "MidCareerPay", "HighMeaning"]
    df = df.append(page_df, ignore_index=True)

In [14]:
# Select necessary columns only
df = df[["Major", "EarlyCareerPay", "MidCareerPay"]]

In [16]:
# Clean columns
df.replace({"^Major:": "", "^Early Career Pay:\$": "", "^Mid-Career Pay:\$": "", ",": ""}, regex=True, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [18]:
df[["EarlyCareerPay", "MidCareerPay"]] = df[["EarlyCareerPay", "MidCareerPay"]].apply(pd.to_numeric)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [21]:
pd.options.display.float_format = '{:,.2f}'.format

In [24]:
df

,Major,EarlyCareerPay,MidCareerPay
0,Petroleum Engineering,93200,187300
1,Operations Research & Industrial Engineering,84800,170400
2,Electrical Engineering & Computer Science (EECS),108500,159300
3,Interaction Design,68300,155800
4,Public Accounting,59800,147700
...,...,...,...
822,Outdoor Education,37400,46300
823,Early Childhood Education,36100,45400
824,Mental Health,36900,45000
825,Medical Assisting,36000,44800
826,Metalsmithing,40000,40300